body{font-family: 'Inder', Arial, sans-serif;font-size:1.3em;color:#6b6d72;}
h1{font-size:2.1em;font-weight:normal;line-height:90%}
h2{font-size:1.6m;font-weight:normal;line-height:15%}
h3{font-size:1.5em;font-weight:normal;line-height:50%}
h4{font-size:1.6em;font-weight:normal;line-height:80%}
h5{font-size:1.4em;font-weight:normal;line-height:40%}